<!DOCTYPE html>
<html lang="en" xmlns="https://thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Home</title>
</head>
<body>
        <div class="headerDiv">
            <div class="header-links" style="display: flex; align-items: center; width: 100%;">
                <a class="linkPlacement" th:href="@{/members}">Members</a>
                <a class="homeAddMember" th:href="@{/home}">Home</a>
                <h1 class="headerHome" style="flex:1; text-align: center; margin: 0;">Home</h1>
                <span th:if="${isAdmin}" style="display: flex; align-items: center;">
                    <a class="linkPlacement" th:href="@{/add-member}" style="margin-right: 8px;">Add Member</a>
                    <a th:href="@{/logout}" class="logout-link" style="margin-right: 0;">Logout</a>
                </span>
                <span th:if="${!isAdmin}">
                    <a th:href="@{/login}" class="adminLogin">Admin Login</a>
                </span>
            </div>
        </div>
        <img class="homeLogo" src="/img/KotterietLogo.png" alt="">
</body>
</html>